{%extends 'static/base.html'%}
{% block content %}

{% load staticfiles %} <!-- New line -->


{% endblock content %}



&nbsp;
<ul>
<li><strong> LalaMove (Private company) </strong>
<p style="text-align: center;"><a href=""><img class=" wp-image-703 aligncenter" src="https://www.lalamove.com/hs-fs/hubfs/logo.png?t=1499450999096&width=2501&height=938&name=logo.png" alt="Lala move Logo" width="200" height="40" />
</a></p>
<p style="text-align: left;">The company is the fastest growing platform for deliveries in China, with a business model comparable to that of Uber. LCK has, through its partnership with MindWorks Ventures, carried out two capital raises for LalaMove.</p>
</li>
</ul>